.fileImg {
  max-width: 300px;
  max-height: 300px;
}
// 購物車
.product-cart{
  position: fixed;
  z-index: 10;
  right: 1%;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 2px gray;
  width: 400px;

  thead, tbody tr {
    display:table;  
    width: 100%;
    table-layout:fixed; 

    .product-cart-title{
      width: 100px;
    }
  }
  th{
    border-radius: 10px;
    width: 100%;
    font-size: 12px;
  }
  .product-cart-title-th{
    width: 100px;
  }
  tbody{
    display: block;
    overflow-y: scroll;
    height: 420px;
    
  }
  .product-cart-title{
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .product-cart-delete{
    width: 50px;
  }
  
}
.product-cart-Total{
  text-align: right;
  padding-right: 1%;
  border-bottom: 1px solid $gray-300;
  margin: 24px 10px 0 10px;

  span{
    margin-right: 10px;
  }
}

.final-total{
  color: $success;
}

.user-cart-couponCode{
  width: 100%;
  justify-content: center;
}
.user-cart-couponCode,.place-oder-box{
  padding: 1%;
}

.useCoupon-tip{
  color: $success;
  font-size: 12px;
}
.place-oder-btn{
  width: 100%;
}
.place-oder-a{
  color: white;
}

// 收件人、結帳資訊頁
.form-box{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;

  h3{
    text-align: end;
  }
  .ta-end{
    text-align: end;
  }
  .region-select{
    flex: 0.2 1 auto !important
  }
  .remark-message{
    resize: none;
  }
  .isPay{
    color: $success;
  }
}
