$mainColor:aquamarine;
$subColor:white;
$subColor2:black;
$h2Color:rgb(46, 46, 46);
$more-linkColor:rgb(158, 158, 158);
//背景灰字
.background-text{
    position: absolute;
    font-size: 300px;
    color: #e7e7e7;;
    z-index: 1;
}
@media (max-width:919px){
    .background-text{
        scale: 0.6;
    }
}
//旋轉按鈕 :hover i{transition: all 1s;color: $mainColor;} :hover .circle {animation: circleRotate 10s infinite linear; scale:1.2; }
.to-more-icon{
    position: relative;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        position: absolute;        
    }
    .circle{
        position: absolute;        
        transition: scale 1s;
        
        
        
    }
}

//旋轉
@keyframes circleRotate {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}
.more-link {
    display: flex;
    align-items: center;
    color: $more-linkColor;
    font-size: 24px;
    justify-content: center;
    width: 20%;
    
    &:hover i ,&:hover{
        transition: all 1s;
        color: $mainColor;
    }&:hover .circle {
        animation: circleRotate 10s infinite linear; scale:1.2;
    }
}
@media (max-width:414px){
    .more-link{
        width: 50%;
    }
}

h2,.about-content,.products-content{
    font-weight: bold;
    color: $h2Color;
}
h2{
    white-space: nowrap;
    font-size: 36px;
    padding: 0 10px;
    z-index: 5;
}


//標題動畫
@keyframes slideOut {
    from {
        -webkit-transform: scalex(0);
        transform-origin: left;
        transform: scalex(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scalex(1);
        transform-origin: left;
        transform: scalex(1);
        opacity: 1;
    }
    50.001% {
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    to {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scalex(0);
        transform: scalex(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes slideIn {
    from {
        -webkit-transform: scalex(1);
        transform: scalex(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scalex(1);
        transform: scalex(1);
        opacity: 1;
    }
    50.001% {
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    to {
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transform: scalex(0);
        transform: scalex(0);
        opacity: 1;
    }
}

// 向下淡出效果
.fadeScale-enter-from{
  opacity: 0;
  transform: translateY(-50px);
}
.fadeScale-enter-active, .fadeScale-leave-active{
  transition: all 0.5s;
}
.fadeScale-enter-to{
  opacity: 1;
}
.fadeScale-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

// 進場動畫
@keyframes toUp {
  from {
    transform: translateY(30%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toDown {
  from {
    transform: translateY(-30%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toRigth {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes toLeft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0%);
  }
}

.fadeIn {
  opacity: 1 !important;
}
.transform0 {
  transform: translateY(0) translateX(0%) !important;
}
.toUp-1{
  animation: toUp 1s;
}
.toUp-2{
  animation: toUp 1s .2s;
}
.toDown-1{
  animation: toDown 1s;
}
.toDown-2{
  animation: toDown 1s .2s;
}
.toRigth-1{
  animation: toRigth 1s;
}
.toRigth-2{
  animation: toRigth 1s .2s;
}
.toLeft-1{
  animation: toLeft 1s;
}
.toLeft-2{
  animation: toLeft 1s .2s;
}